syllabus/syllabus.aux
syllabus/syllabus.log
syllabus/syllabus.out
syllabus/syllabus.synctex.gz

Topic1-Introduction/T1-Intro.aux
Topic1-Introduction/T1-Intro.log
Topic1-Introduction/T1-Intro.nav
Topic1-Introduction/T1-Intro.out
Topic1-Introduction/T1-Intro.snm
Topic1-Introduction/T1-Intro.toc
Topic1-Introduction/T1-Intro.synctex.gz

Topic2-Science/T2-Science.aux
Topic2-Science/T2-Science.log
Topic2-Science/T2-Science.nav
Topic2-Science/T2-Science.out
Topic2-Science/T2-Science.snm
Topic2-Science/T2-Science.synctex.gz
Topic2-Science/T2-Science.toc
Topic2-Science/papers/

Topic3-Evolution/T3-Evolution.aux
Topic3-Evolution/T3-Evolution.log
Topic3-Evolution/T3-Evolution.nav
Topic3-Evolution/T3-Evolution.out
Topic3-Evolution/T3-Evolution.snm
Topic3-Evolution/T3-Evolution.synctex.gz
Topic3-Evolution/T3-Evolution.toc


MasteringInfo/

